@using BugTracker23.Helpers
@model IEnumerable<BugTracker23.Models.ApplicationUser>
@{
    ViewBag.Title = "ManageProjectUsers";
    var projHelper = new ProjectHelper();

}
<style>
    #UserIds {
        min-height: 250px;
    }
</style>
<style>
    .btnWide {
        width: 100%
    }
</style>

<h2>Manage Project Users</h2>
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-6">
                <h2>Select Users</h2>
                @Html.ListBox("UserIds")
            </div>
            <div class="col-6">
                <h2>Select Projects</h2>
                @Html.ListBox("ProjectIds")
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-warning btn-Wide">Assign Users</button>
            </div>
        </div>
    }

    <hr />

    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayName("Projects")
        </th>

    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>


            <td>
                @foreach (var project in projHelper.ListUserProjects(user.Id))
                {
                    @project.Name <br />
                }

            </td>
        </tr>
    }

    </table>
}
else
{
    <hr />
    <h4>You must be an Administrator to view this page</h4>

}



