@using BugTracker23.Models
@using BugTracker23.Helpers
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "ManageRoles";
    var roleHelper = new RoleHelper();
    var projectHelper = new ProjectHelper();
}

<style>
    #UserIds {
        min-height: 250px;
    }
</style>

<h2>Manage Roles</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-10">
            @Html.ListBox("UserIds")
        </div>
        <div class="col-md-4">
            @Html.DropDownList("RoleName", "-- no role --")
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-danger">Manage Role Assignment</button>
        </div>
    </div>
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("User Email")
        </th>
        <th>
            @Html.DisplayName("Role")
        </th>
        @*<th>
            @Html.DisplayName("Projects")
        </th>*@

    </tr>

    @foreach (var person in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => person.Email)
    </td>
    <td>
        @roleHelper.ListUserRoles(person.Id).FirstOrDefault()
    </td>
    <!--<td>
        @projectHelper.ListUserProjects(person.Id).FirstOrDefault()


    </td>-->
    @*<td>
        @foreach (var project in projHelper.ListUserProjects(user.Id))
        {
            @project.Name <br />
        }

    </td>*@

</tr>
    }
</table>