@using Microsoft.AspNet.Identity;
@model IEnumerable<BugTracker23.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Submitter"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@if (User.IsInRole(""))
<h3>Tickets</h3>

<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Issue
        </th>
        <th>
            Type
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Priority
        </th>
        <th>
            Submitter
        </th>
        <th>
            Developer
        </th>
        <th>
            @Html.DisplayName("Created")
        </th>
        <th>
            @Html.DisplayName("Updated")
        </th>
        <th>
            @Html.DisplayName("Is Resolved")
        </th>
        <th>
            @Html.DisplayName("Is Archived")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Project.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketType.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Submitter.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Developer.FullName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Created)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Updated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsResolved)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsArchived)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>

<hr />
@if (User.IsInRole("Developer"))
{
    <h3>My Tickets</h3>
    <table class="table">
        <tr>
            <th>
                Project Name
            </th>
            <th>
                @Html.DisplayName("Ticket Priority")
            </th>
            <th>
                @Html.DisplayName("Ticket Status")
            </th>
            <th>
                @Html.DisplayName("Ticket Type")
            </th>
            <th>
                @Html.DisplayName("Submitter")
            </th>
            <th>
                @Html.DisplayName("Developer")
            </th>
            <th>
                @Html.DisplayName("Issue")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Created")
            </th>
            <th>
                @Html.DisplayName("Updated")
            </th>
            <th>
                @Html.DisplayName("Is Resolved")
            </th>
            <th>
                @Html.DisplayName("Is Archived")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Where(t => t.DeveloperId == User.Identity.GetUserId()))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submitter.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsResolved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsArchived)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}